In [ ]:
#Extract the first 5 characters from a string using slicing.
test_text = input('Enter a string to slice')
print(f'The sliced string is: {test_text[:5]}')

Enter a string to sliceMukiteLaura
The sliced string is: Mukit

In [ ]:
#Get the last element of a list using indexing.
list_elements = [1,2, 3, 4, 5, 7]
last = list_elements[-1]
print(last)

7

In [ ]:
#Reverse a string using slicing
word = "esther"
print(word[::-1])

rehtse

In [ ]:
#Create a list of numbers from 1 to 10 and print only the elements at even indices
number = list(range(1, 11))
even_index = number[::2]
print(number)
print(f'Elements and even indices are: {even_index}')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Elements and even indices are: [1, 3, 5, 7, 9]

In [ ]:
#Change the value of the third element in a list.
element = ['Cat', 'Kitten', 'Manchester', 'Brian', 'Bottle']
element[2] = 'Senegal'
print(element)

['Cat', 'Kitten', 'Senegal', 'Brian', 'Bottle']

In [ ]:
#Create a tuple and print its second and last elements
countries = ('Kenya', 'Uganda' , 'Nigeria', 'Ghana', 'South Africa')
print(f'Second: {countries[1]}, Last: {countries[-1]}')

Second: Uganda, Last: South Africa

In [ ]:
#Convert a tuple into a list
fruits= ('Apple', 'Banana', 'Orange' , 'Mango')
my_list = list(fruits)
print(my_list)

['Apple', 'Banana', 'Orange', 'Mango']

In [ ]:
#Check whether a number is positive, negative, or zero using if-elif-else.
my_numbers = int(input('Enter a number!: '))
if my_numbers > 0:
  print('Positive')
elif my_numbers < 0:
  print('Negative')
else:
  print(my_numbers)

Enter a number!: 56
Positive

In [ ]:
#Check whether a number is even or odd
my_numbers = int(input('Enter a number!: '))
if my_numbers % 2 == 0:
  print('Number is evenðŸ˜Š')
else:
  print('Number is oddðŸ˜ª')

Enter a number!: 76
Number is evenðŸ˜Š

In [ ]:
#Use a for loop to print numbers from 1 to 20
for i in range(1, 21):
  print (i, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [ ]:
#Use a while loop to print numbers from 10 to 1
count = 10
while count >= 1:
    print(count, end = " ")
    count -= 1
print()

10 9 8 7 6 5 4 3 2 1

In [ ]:
#Find the sum of all elements in a list using a loop
my_number = [3, 5, 1, 4, 5,7,6]
total = 0
for num in my_number:
    total += num

print(total)

31

In [ ]:
#Print all numbers divisible by 3 from a list
nancy =[23, 45, 3, 27, 56, 77, 36]
for i in nancy:
  if i % 3 == 0:
    print(i, end = " ")

45 3 27 36

In [ ]:
#Count how many times a specific value appears in a list
nancy2 =[23, 45, 23, 3, 27, 56, 36, 77, 36, 23]
nancy2.count(23)

3

In [ ]:
#Use a loop and conditional statements to find the largest number in a list
data_points = [45, 82, 19, 94, 31]
largest = data_points[0]
for n in data_points:
    if n > largest:
        largest = n
print(f"Largest number: {largest}")

Largest number: 94